{% extends "base.html" %}

{% block title %} Add Attendance {% endblock %}

{% block content %}
<div class="container">
    <h1>Add Attendance</h1>
    <form method="POST">
        <label for="student_id">Student:</label><br>
        <select name="student_id" id="student_id">
            {% for student in students %}
            <option value="{{ student.id }}">{{ student.name }}</option>
            {% endfor %}
        </select><br><br>
        <label for="week">Week:</label><br>
        <input type="number" id="week" name="week" required><br><br>
        <label for="present">Present:</label><br>
        <input type="checkbox" id="present" name="present"><br><br>
        <input type="submit" value="Submit">
    </form>
    <a href="/attendances">Back to Attendances</a>
</div>

{% endblock %}