{% extends "base.html" %}

{% block title %} Add Facilitator{% endblock %}

{% block content %}
<div class="container">
    <h1>Add Facilitator</h1>
    <form class="needs-validation" method="POST">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="text" class="form-control" id="phone" name="phone">
      </div>
      <div class="form-group">
        <label for="school_id">School:</label>
        <select class="form-control" name="school_id" id="school_id">
            {% for school in schools %}
            <option value="{{ school.id }}">{{ school.name }}</option>
            {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href="/facilitators" class="btn btn-secondary">Back to Facilitators</a>
</div>
{% endblock %}
