{% extends "base.html" %}
{% block content %}

{% if flash_messages %}
    {% for message in flash_messages %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
<div class="container">
    <h2>Login</h2>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.username.label }} {{ form.username(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.password.label }} {{ form.password(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.remember() }} {{ form.remember.label }}
        </div>
        <button type="submit" class="btn btn-primary" style="max-width: 300px;">Login</button>
    </form>
</div>
{% endblock %}
