{% extends "base.html" %}
{% block content %}

<h1>Outreach Girls</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Name of School</th>
                <th>Class</th>
                <th>Phone Number</th>
                <th>Academic Session</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- insert center girl data here from the student table -->
            {% for students in outreach_students %}
            <tr>
                <!-- add the necessary columns for the center girl data -->
                <td>{{ students.id }}</td>
                <td>{{ students.name }}</td>
                <td>{{ students.age }}</td>
                <td>{{ students.sex }}</td>
                <td>{{ students.address }}</td>
                <td>{{ students.school.name }}</td>
                <td>{{ students.student_class }}</td>
                <td>{{ students.phone }}</td>
                <td>{{ students.academic_session }}</td>
                <td>
                    <a href="{{ url_for('auth.edit_student', id=students.id) }}" class="btn btn-primary">Edit</a> 
                    <a href="{{ url_for('auth.delete_student', id=students.id) }}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}